<div class="container-fluid p-0 overflow-hidden" style="background-color: #EDEDED;">
<p class="feature poppins-bold text-center pt-3 pb-5">FEATURED ON</p>
<div class="row pb-3">
    <div class="col-1"></div>
    <div class="col-2 px-md-4"><img src="images/featured4.png" class="img-fluid"  alt=""></div>
    <div class="col-2 px-md-4"><img src="images/featured.png"  class="img-fluid" alt=""></div>
    <div class="col-2 px-md-4"><img src="images/featured5.png" class="img-fluid"  alt=""></div>
    <div class="col-2 px-md-4"><img src="images/featured2.png" class="img-fluid"  alt=""></div>
    <div class="col-2 px-md-4"><img src="images/featured3.png" class="img-fluid"  alt=""></div>
    <div class="col-1"><img src="images/.png" alt=""></div>
</div>
</div>