<div class="container-fluid p-0   py-md-5 px-md-5 px-sm-3">
<app-navbar></app-navbar>
</div>
<div class="px-md-5 overflow-hidden maindiv">
    <app-future-building></app-future-building>
    <app-second-section></app-second-section>
    <app-credit-builder></app-credit-builder>
    <app-money-access></app-money-access>
    <app-credit-report></app-credit-report>
</div>
<div class="container-fluid p-0">
    <app-services-menu></app-services-menu>
    <app-nevly-money></app-nevly-money>
    <app-money-services></app-money-services>
    <app-featured></app-featured>
    <app-palns-subscription></app-palns-subscription>
    <app-footer></app-footer>
</div>